.habit {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 15px;
  margin-bottom: 5px;
}

.habit-text {
  display: inline-block;
  max-width: 70%;
}

.habit-complete {
  background-color: green;
}

.habit-controls {
  float: right;
  padding: 5px;
}

.habit-title {
  font-size: 1.5rem;
}

.habit-description {
  font-size: 1rem;
}