html, body {
  height: 100%;
}

body {
  background-color: #8D94BA;
}

.container {
  padding: 10px;
}

#main-window {
  height: 100%;
  overflow-x: hidden;
}

#main-header {
  width: 100%;
  padding: 1vh;
  text-align: center;
  color: #EEEFFF;
  background-color: #272932;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
  box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
  z-index: 100;
}

#main-header > h1 {
  line-height: 8vh;
  margin: 0;
}

#main-content {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 10px 20px 10px;
  background-color: #EEEFFF;
  overflow-y: auto;
  clear: both;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
  box-shadow: 0px 3px 10px 0px rgba(39,41,50,1);
}

#habits-view {
  float: left;
  width: 70%;
}

#info-view {
  float: right;
  width: 30%;
}